<div class="modal-header">
    <h6 class="modal-title">{{appUser}}'s profile settings</h6>
    <button type="button" class="close" aria-label="Close" (click)="UserProfileModal.dismiss()">
		<span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills">
				<li class="nav-item">
					<a class="nav-link active" href="#">Active</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
		</div>
		<div class="card-block">
			<form class="form form-group" #userProfileForm = "ngForm" (ngSubmit)="onSubmit(userProfileForm)">
				<label for="avatarImg">Profile avatar</label>
				<div class="row">
					<div class="col-10">
						<div class="input-group">
							<label class="custom-file">
								<input class="custom-file-input " type="file" name="avatarImg" id="avatarImg"(change)="onChangeAvatarFile($event)"
								(mouseover)="onHoverFileButton=!onHoverFileButton" (mouseleave)="onHoverFileButton=!onHoverFileButton">
								<span class="custom-file-control" #avatarImg [attr.fileName]="avatarImgName"
								[ngClass]="{'custom-file-control-hovered':onHoverFileButton}"></span>
							</label>
						</div>
					</div>
					<div class="col-2">
						{{fileOK}}ok
					</div>
				</div>
				<button class="btn btn-custom">Ok</button>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
</div>
