<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="jumbotron container" id="landingJumbo">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<p class="display-4">Built for performance.<p>
							<p class="lead">Apse is a task and project manager focused on productivity and business.</p>
							<p class="lead">From small projects to team and department managing Apse offers a clean and fast solution.</p>
						</div>
						<div class="col-lg-6" id="componentContainer">
							<router-outlet id="outlet" name="landingOutlet"></router-outlet>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row" id="features1">
		<div class="col-lg-6">
			<div class="card">
				<span class="fa fa-pie-chart card-logo"></span>
				<div class="card-block">
					<h4 class="card-title">Never miss a detail</h4>
					<p class="card-text lead">Track the work of your group, assign tasks to them and follow their progress visualy with our graphics and statistics.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6">	
			<div class="card">
				<span class="fa fa-share-alt card-logo"></span>
				<div class="card-block">
					<h4 class="card-title">Share resources</h4>
					<p class="card-text lead">Share links, images and files with your collaborators, attach them to any task or project and your team will have access to them.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="features2">
		<div class="col-lg-6">
			<div class="card">
				<span class="fa fa-list-ol card-logo"></span>
				<div class="card-block">
					<h4 class="card-title">Ease of use</h4>
					<p class="card-text lead">Intuitive and simple interface, get your hands dirty in a matter of seconds.</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<span class="fa fa-commenting-o card-logo"></span>
				<div class="card-block">
					<h4 class="card-title">Comunicate</h4>
					<p class="card-text lead">Chat, send e-amils or post comments about your project or assigned tasks, it never was so easy to keep in contact with your groupmates.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center" id="features3">
		<div class="col-lg-6 ">
			<div class="card">
				<span class="fa fa-code-fork card-logo"></span>
				<div class="card-block">
					<h4 class="card-title">Visualize</h4>
					<p class="card-text lead">Create workflow charts and route maps of your project, assign tasks to specific tages and keep track of the progress.</p>
				</div>
			</div>
		</div>
	</div>
</div>